In [2]:
import pandas as pd
import numpy as np
import csv
import xml.dom.minidom

In [3]:
domtree = xml.dom.minidom.parse(r"C:\Users\ritaj\OneDrive\Desktop\Work exam\IR21 (2)\IR21\IR21_SWEEP_Telenor Sweden_20231206135254.xml")

In [4]:
group = domtree.documentElement

1.Help to generate the MCC and MNC code related to the Tadig code
It create an mss_code.csv which store the value of MSC and MNC code which is mapped to the TADIG Code.
It do have 230 output for four TADIG code

In [5]:
def mssc_code():
    Tadigs= group.getElementsByTagName('TADIGSummaryItem')
    
    with open('mss_code.csv', 'w', newline='') as csvfile:
        csvwriter = csv.writer(csvfile)
        
        csvwriter.writerow(['TADIG Code', 'MCC', 'MNC'])
        
        for x in Tadigs:
            tadig_code = x.getElementsByTagName("TADIGCode")[0].childNodes[0].nodeValue
            y = x.getElementsByTagName('NetworkProperties')
            
            for h in y:
                tadig_code = x.getElementsByTagName("TADIGCode")[0].childNodes[0].nodeValue
                MCC = h.getElementsByTagName("MCC")[0].childNodes[0].nodeValue
                MNC = h.getElementsByTagName("MNC")[0].childNodes[0].nodeValue
                
                csvwriter.writerow([tadig_code, MCC, MNC])
                print("tadig_code:%s,MCC:%s,MNC:%s" % (tadig_code, MCC, MNC))

In [6]:
mssc_code()

tadig_code:SWEEP,MCC:240,MNC:08
tadig_code:SWEEP,MCC:240,MNC:08
tadig_code:SWETG,MCC:240,MNC:06
tadig_code:SWECN,MCC:240,MNC:42
tadig_code:AAZTC,MCC:883,MNC:120
tadig_code:AAZTC,MCC:901,MNC:029
tadig_code:AAZTC,MCC:240,MNC:042

2.Help to generate the MSISDN_NumberRanges file and save it as a csv file.

In [9]:
def MSISDN():
    set=group.getElementsByTagName('Network')
    with open('MSISDN_NumberRanges.csv', 'w', newline='') as csvfile:
        csvwriter = csv.writer(csvfile)
        csvwriter.writerow(['TADIG Code', 'CC', 'NDC','range_start','range_end'])
        for category in set:
            sub=category.getElementsByTagName('MSISDN_NumberRanges')
            tadig_code=category.getElementsByTagName("TADIGCode")[0].childNodes[0].nodeValue
            for subs in sub:
                sb2=subs.getElementsByTagName('RangeData')
                for sb3 in sb2:
                    sb4=sb3.getElementsByTagName('NumberRange')
                    for sb5 in sb4:
                        CC=sb5.getElementsByTagName("CC")[0].childNodes[0].nodeValue
                        NDC=sb5.getElementsByTagName("NDC")[0].childNodes[0].nodeValue
                        h=sb5.getElementsByTagName("SN_Range")
                        for sb6 in h:
                            range_start=sb6.getElementsByTagName("SN_RangeStart")[0].childNodes[0].nodeValue
                            range_end=sb6.getElementsByTagName("SN_RangeStop")[0].childNodes[0].nodeValue
                            csvwriter.writerow([tadig_code,CC,NDC,range_start,range_end])
                            print("Tadig_code:% s,CC:% s,NDC:% s,range_start:% s,range_end:% s"%(tadig_code,CC,NDC,range_start,range_end))

In [ ]:
MSISDN()

3.Help to generate the GT_NumberRanges.csv file and save it as a csv file.
We have 5 total number of row for the four TADIG code

In [14]:
def GT_NumberRanges():
    set=group.getElementsByTagName('Network')
    with open('GT_NumberRanges.csv', 'w', newline='') as csvfile:
        csvwriter = csv.writer(csvfile)
        csvwriter.writerow(['TADIG Code', 'CC', 'NDC','range_start','range_end'])
        for category in set:
            sub=category.getElementsByTagName('GT_NumberRanges')
            tadig_code=category.getElementsByTagName("TADIGCode")[0].childNodes[0].nodeValue
            for subs in sub:
                sb2=subs.getElementsByTagName('RangeData')
                for sb3 in sb2:
                    sb4=sb3.getElementsByTagName('NumberRange')
                    for sb5 in sb4:
                        CC=sb5.getElementsByTagName("CC")[0].childNodes[0].nodeValue
                        NDC=sb5.getElementsByTagName("NDC")[0].childNodes[0].nodeValue
                        h=sb5.getElementsByTagName("SN_Range")
                        for sb6 in h:
                            range_start=sb6.getElementsByTagName("SN_RangeStart")[0].childNodes[0].nodeValue
                            range_end=sb6.getElementsByTagName("SN_RangeStop")[0].childNodes[0].nodeValue
                            csvwriter.writerow([tadig_code,CC,NDC,range_start,range_end])
                            print("Tadig_code:% s,CC:% s,NDC:% s,range_start:% s,range_end:% s"%(tadig_code,CC,NDC,range_start,range_end))

In [15]:
GT_NumberRanges()

Tadig_code:SWEEP,CC:46,NDC:708,range_start:000000,range_end:999999
Tadig_code:SWETG,CC:46,NDC:72390,range_start:0000,range_end:9999
Tadig_code:SWETG,CC:46,NDC:7244,range_start:00000,range_end:99999
Tadig_code:SWECN,CC:46,NDC:731,range_start:260000,range_end:269999
Tadig_code:AAZTC,CC:883,NDC:120,range_start:000000,range_end:999999

4.Help to generate the MSRN_NumberRanges file and save it as a csv file.
we have 5 total number of rows for the four TADIG Code

In [18]:
def MSRN_NumberRanges():
    set=group.getElementsByTagName('Network')
    with open('MSRN_NumberRanges.csv', 'w', newline='') as csvfile:
        csvwriter = csv.writer(csvfile)
        csvwriter.writerow(['TADIG Code', 'CC', 'NDC','range_start','range_end'])
        for category in set:
            sub=category.getElementsByTagName('MSRN_NumberRanges')
            tadig_code=category.getElementsByTagName("TADIGCode")[0].childNodes[0].nodeValue
            for subs in sub:
                sb2=subs.getElementsByTagName('RangeData')
                for sb3 in sb2:
                    sb4=sb3.getElementsByTagName('NumberRange')
                    for sb5 in sb4:
                        CC=sb5.getElementsByTagName("CC")[0].childNodes[0].nodeValue
                        NDC=sb5.getElementsByTagName("NDC")[0].childNodes[0].nodeValue
                        h=sb5.getElementsByTagName("SN_Range")
                        for sb6 in h:
                            range_start=sb6.getElementsByTagName("SN_RangeStart")[0].childNodes[0].nodeValue
                            range_end=sb6.getElementsByTagName("SN_RangeStop")[0].childNodes[0].nodeValue
                            csvwriter.writerow([tadig_code,CC,NDC,range_start,range_end])
                            print("Tadig_code:% s,CC:% s,NDC:% s,range_start:% s,range_end:% s"%(tadig_code,CC,NDC,range_start,range_end))

In [20]:
MSRN_NumberRanges()

Tadig_code:SWEEP,CC:46,NDC:70801,range_start:0000,range_end:9999
Tadig_code:SWEEP,CC:46,NDC:70802,range_start:0000,range_end:9999
Tadig_code:SWEEP,CC:46,NDC:70803,range_start:0000,range_end:9999
Tadig_code:SWEEP,CC:46,NDC:70804,range_start:0000,range_end:9999
Tadig_code:AAZTC,CC:883,NDC:120,range_start:000000,range_end:999999

5.Let us collect all data frame as one.
The GT_Number range,MSISDN,MSRN file are merged together with concat function.

In [43]:
df1=pd.read_csv('MSISDN_NumberRanges.csv')

In [44]:
df2=pd.read_csv('MSRN_NumberRanges.csv')

In [45]:
df3=pd.read_csv('GT_NumberRanges.csv')

In [46]:
df_merge=pd.concat([df1,df2,df3])

The total merge file look like the combination of dataframe

In [47]:
df_merge

   TADIG Code   CC    NDC  range_start  range_end
0       SWEEP   46     71       933000     933999
1       SWEEP   46     72       870000     879999
2       SWEEP   46    708            0     999999
3       SWEEP   46    709            0     999999
4       SWEEP   46    733            0     999999
..        ...  ...    ...          ...        ...
0       SWEEP   46    708            0     999999
1       SWETG   46  72390            0       9999
2       SWETG   46   7244            0      99999
3       SWECN   46    731       260000     269999
4       AAZTC  883    120            0     999999

[240 rows x 5 columns]

Note:-The final data set is a join of the mss_code and the df_merge csv file

In [49]:
df=pd.read_csv('mss_code.csv')

In [65]:
final_data_set = pd.merge(right=df_merge,left=df,left_on='TADIG Code',right_on='TADIG Code')

In [66]:
final_data_set.drop(columns='TADIG Code',inplace=True)

In [67]:
final_data_set.to_csv('final.csv')